@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;

    /* margin: 0;
    padding: 0; */
    
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    
   
  
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#E5E7EB;
    font-size:14px;
    padding:5px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.container-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 100px 0 100px 0;
    
}



.hero{
    display: flex;
    flex-direction: row;
    width:60%;
    align-items: center;
    margin: auto;
    gap: 18px;
    
   

}
.sign-up-area{

    flex-basis: 0;
    flex:1;
    
    

}
.hero-text{
    
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    
 
}

.sub-text{
    font-size: 18px;
    color: #F9FAF8;
    margin: 10px 0 10px 0;
    
}

.button{
    background-color:#3882f6;
    text-decoration: none;
    border-radius: 5%;
    border: none;
    padding: 10px;
    color: #E5E7EB;
    margin-bottom: 10px;

}

.image{
    
    color: #F9FAF8;
    background-color: gray;


}

.img-container{
    align-self: stretch;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.container-2{
  
    background-color: #F9FAF8;
  
    display: flex;
    
    align-items: center;
    width: 100%;
    
    flex-direction: column;
    padding: 10px 0 20px 0;
    
    
}

.information-header{

margin: 20px 0 20px 0;
font-size: 36px;
font-weight: 900;
}

.items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    width: 80%;
  
  
}

.subtext{
    text-align: center;
}

.flex-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

.info-image{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    border-style: solid;
    /* box-sizing: border-box; */
    width: 100px;
    height: 100px;
   
    color: #2883f6;
 }

.container-3{
        display:flex;
        background-color: #E5E7EB;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: 100%;
        padding: 25px 0 25px 0;
   
          
       
}
    .quote-container{
        width: 60%;
        margin: auto;
        padding: 10px;
        
    }
    .quote{
        
        font-style: italic;
        font-weight: lighter;
        font-size: 36px;
        display: flex;
        justify-content: center;
    
    }

    .quote-signature{
        display: flex;
        justify-content: end;
    }

.footer-container{
    background-color: #F9FAF8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
    flex-direction: column;
    
    
}

.footer{
    display: flex;
    background-color: #2883f6;
    /* padding:10px; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    border-radius:10px;
    padding: 18px;
    gap: 18px;
   
}

.call-to-action{
   
    color:#F9FAF8;
    font-size: 24px;
    font-weight: 900;


}

.sub-text{
   
    font-size: 18px;
    font-weight: 200;
}



.button2{
    background-color:#3882f6;
    text-decoration: none;
    border-radius: 5%;
    border: solid 1px;
    padding: 10px;
    color: #E5E7EB;
   
    
   
}





